<launch>
	<!-- This launch script does everything up to running the manual_initialization node. 
 		You can't guarantee the order these statements will be executed in, it was causing issues.
		Workflow: Run this script, run the manual init node, kill the manual init node, run the other launchfile in this dir.
	-->

	<!-- First, run the bag file. Paths assume a copy is kept in the report2 package.  -->
	<node pkg="report2" type="play_data.sh" name="play_data" required="true"/>
	
	<!-- Don't use file extensions when calling CPP nodes -->
	<node pkg="robot_vision_lectures" type="crop_visualize_3D" name="crop_visualize_3D" required="true" />
	
	<!-- Then run the detect ball node -->
	<node pkg="robotics_lab4" type="detect_ball.py" name="detect_ball" required="true"/>
	
	<!-- now node from lab 6, then init, then planner (add pausing to planner.)? -->
	<node pkg="robotics_lab6" type="sphere_fit.py" name="sphere_fit" required="true"/>
	
	<!--Launch gazebo to visualize.-->
	<include file="$(find ur_gazebo)/launch/ur5e_bringup.launch" />
</launch>

